script(src="/libs/jquery/dist/jquery.min.js")
link(href="/css/reset.css", rel="stylesheet")
link(href="/css/admin.css", rel="stylesheet")
link(href="/css/list.css", rel="stylesheet")
link(href="/css/layot_admin.css", rel="stylesheet")
link(href="/libs/font-awesome/css/font-awesome.min.css", rel="stylesheet")