extends ../layout

block content
  .container
    each item in goods
      .goods
        a(href = "/good/" + item._id)
          img( src = item.image , alt = item.name )
        h4 #{item.name}
        h3 #{item.price}
        a.btn(href = "/good/" + item._id, role = "button") 立即购买