extends ../../layout_admin

block content
  .container
    form.form(method="post", action="/admin/category/new")
      lable(for="inputCategory") 食品分类
        input#inputCategory(type="text", name="category[name]", value= category.name)
      button.btn(type="submit") 录入